*{
    margin: 0px auto;
    padding: 0px auto;
}

@font-face {
    font-family: 'inter-bold';
    src: url(/assets/fontes/Inter_18pt-Bold.ttf);
}


@font-face {
    font-family: 'inter-regular';
    src: url(/assets/fontes/Inter_18pt-Regular.ttf);
}


body{
    background-color: #171717;
}

h1{
    color: #F15635;
    font-family: 'inter-bold';
    letter-spacing: 2px;
    font-size: 28px;
}

p{
    color: rgb(194, 194, 194);
    font-family: 'inter-regular';
    font-size: 16px;
    padding: 10px ;
    letter-spacing: -1px;
}

#main-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#area-login{
    height: 400px;
    width: 380px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

            
.input-padrao{
    height: 35px;
    width: 270px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    padding-left: 10px;
}


.btn-padrao{
    width: 280px;
    margin-top: 30px;
    height: 50px;
    border-radius: 5px;
    background-color: #F15635;
    border: none;
    color: aliceblue;
    font-size: 16px;
}